.incident-reports {
  background-color: #fff;
  padding: 20px;
}

.incidentr {
  color: #10349e;
  font-weight: bold;
  font-size: 25px;
}

.report-count {
  background: #e0ecff;
  padding: 3px 10px;
  border-radius: 20px;
  font-weight: 600;
  margin-top: -8px;
  margin-left: 30px;
}

.icon-btn {
  background-color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  
}

.icon-btn svg {
  fill: #10349E;
  height: 30px;
  width: 30px;
}

.icon-btn:hover {
  background-color: white;
  color: black;
  outline: none;
}

.filters {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #0d1e61;
  padding: 12px;
  border-radius: 10px;
}

.search-input {
  border-radius: 0 25px 25px 0;
  border: 1px solid #ced4da;
  margin-top: 12px;
  width: 300px;
}

.dropdown {
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 14px;
  margin-left: 10px;
}



.filter-active {
  background-color: white;
  color: black;
  border: 2px solid #0d1e61;
}

.btn-outline-primary {
  border: none;
}

.incident-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.incident-table th,
.incident-table td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

.incident-table th {
  background-color: #f8f9fa;
  font-weight: 600;
  font-size: 0.9rem;
}

.incident-table td {
  font-size: 0.88rem;
}

.clickable-row {
  cursor: pointer;
}

.clickable-row:hover {
  background-color: #f1f1f1;
}

.table-container {
  border: 1px solid #dee2e6;
  border-radius: 10px;
  max-height: 400px;
  overflow-y: auto;  /* Enable vertical scrolling */
}

.drawer {
  position: fixed;
  top: 0;
  right: 0;
  width: 720px;
  height: 100%;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transform: translateX(100%);
  animation: slideIn 0.3s forwards;
  overflow-y: auto;
}

@keyframes slideIn {
  100% {
    transform: translateX(0);
  }
}

.drawer-content {
  padding: 20px;
}

.close-btn {
  font-size: 24px;
  background: transparent;
  border: none;
  color: #dcdcdc;
  cursor: pointer;
}

.btn-archive,
.btn-log-violation {
  padding: 8px 15px;
  border: none;
  border-radius: 20px;
  font-weight: 600;
  background-color: #0144F2;
  color: white;
  margin-top: 15px;
}

.btn-archive:hover,
.btn-log-violation:hover {
  background-color: #0039c7;
}

