/* Main content */
.main-content {
  padding: 30px;
  background-color: #f8f9fa;
  flex-grow: 1;
}

/* Dashboard header */
.dashboard-header label {
  font-weight: bold;
  color: #10349E;
  font-size: 25px;
}

.dashboard-header p {
  font-size: 14px;
  color: #6c757d;
}

icon-btn {
  background-color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  
}

.icon-btn svg {
  fill: #10349E;
  height: 30px;
  width: 30px;
}

.icon-btn:hover {
  background-color: white;
  color: black;
  outline: none;
}

/* Cards */
.card {
  border: none;
  border-radius: 20px !important;
  padding: 30px;
  text-align: center;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-icon {
  font-size: 40px;
  margin-bottom: 15px;
}

.card h4 {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 600;
}

.card h3 {
  font-size: 28px;
  font-weight: bold;
  margin: 0;
}

/* Color themes */
.card.bg-danger {
  background-color: #f44336 !important;
}

.card.bg-success {
  background-color: #26a69a !important;
}

.card.bg-primary {
  background-color: #1e88e5 !important;
}


.row {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  margin-top: 40px;
}

.row .col-md-4 {
  flex: 1 1 30%;
  min-width: 250px;
  max-width: 300px;
}

/* Card hover effect */
.card:hover {
  transform: translateY(-5px);
  transition: transform 0.2s ease-in-out;
}

.card:hover .card-icon {
  color: white;
}

/* Responsive layout */
@media (max-width: 768px) {
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .col-md-4 {
    flex: 1 1 100%;
    margin-bottom: 20px;
  }
}

