.drawer {
    position: fixed;
    top: 0;
    right: 0;
    width: 60%;  /* Adjusted width to make it fit better on the screen */
    max-width: 800px;  /* Maximum width */
    height: 100%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transform: translateX(100%);
    animation: slideIn 0.3s forwards;
    overflow-y: auto; /* Makes the drawer scrollable */
  }
  
  @keyframes slideIn {
    100% {
      transform: translateX(0);
    }
  }
  
  .drawer-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .drawer-title {
    font-size: 20px;
    font-weight: bold;
    color: #0144F2;
  }
  
  .close-btn {
    font-size: 18px;
    background: transparent;
    border: none;
    color: #0144F2;
    cursor: pointer;
  }
  
  .form {
    margin-top: 20px;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    font-size: 16px;
  }
  
  input, select, textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 14px;
  }
  
  textarea {
    height: 120px;
  }
  
  .date-time input {
    width: 22%;
    margin-right: 5%;
  }
  
  .add-btn {
    background-color: #0144F2;
    color: white;
    padding: 12px 18px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
  }
  
  .add-btn:hover {
    background-color: #0039c7;
  }
  