/* Drawer Styles */
.drawer {
    position: fixed;
    top: 0;
    right: -100%;
    width: 50%;
    height: 100%;
    background-color: #1d3b61;
    padding: 30px;
    box-shadow: -4px 0px 6px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease-in-out;
    z-index: 1000;
    overflow-y: auto;
  }
  
  .drawer.open {
    right: 0;
  }
  
  .drawer-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .drawer-header h4 {
    color: white;
    font-weight: 600;
    font-size: 24px;
  }
  
  .close-btn {
    background: none;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
  }
  
  .drawer-content {
    color: white;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
  }
  
  input, textarea, select {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
    background-color: #f8f8f8;
    color: #333;
  }
  
  textarea {
    resize: vertical;
  }
  
  .date-time-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  
  .date-input {
    width: 22%;
  }
  
  .form-group button {
    padding: 12px;
    background-color: #32cd32;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    font-size: 16px;
    color: white;
    cursor: pointer;
  }
  
  button[type="submit"] {
    width: 100%;
  }
  
  /* Styling for Select Dropdown */
  select {
    background-color: #f8f8f8;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 14px;
  }
  
  /* Layout Adjustments */
  .date-time-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  
  .date-time-container input {
    width: 23%;
  }
  
  @media screen and (max-width: 768px) {
    .drawer {
      width: 70%;
    }
  
    .date-time-container {
      flex-direction: column;
      gap: 20px;
    }
  
    .date-input {
      width: 100%;
    }
  }
  
  