.violations-page {
  background-color: #fff;
}

/* Header */
.studentsv {
  color: #10349e;
  font-weight: bold;
  font-size: 25px;
}

.violations-count {
  background: #e0ecff;
  padding: 3px 10px;
  border-radius: 20px;
  font-weight: 600;
  margin-top: -8px;
  margin-left: 30px;
}

.violations-filter-bar {
  background-color: #223067;
  padding: 12px;
  border-radius: 10px;
  color: white;
}

.icon-btn {
  background-color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  
}

.icon-btn svg {
  fill: #10349E;
  height: 30px;
  width: 30px;
}

.icon-btn:hover {
  background-color: white;
  color: black;
  outline: none;
}

.dropdown {
  margin-top: 15px;
  margin-right: 20px;
  margin-left: 8px;
  height: 35px;
  width: 200px;
  
}

.input-group-text {
  background-color: #fff;
  border-right: 0;
  border-radius: 25px 0 0 25px;
  padding-left: 10px;
  padding-right: 10px;
}

.form-control {
  border-radius: 0 25px 25px 0;
  border: 1px solid #ced4da;
  margin-top: 12px;
  width: 300px;
  
}

.filter-active {
  
  background-color: white !important;
  color: black !important;
  border-radius: 5px;

}

/* Button styles for inactive filters */
.btn-outline-primary {
  border: none;
  padding: 10px 15px;
  font-weight: 600;
  color: white;

}

.bi-search {
  font-size: 18px; /* Adjusted icon size */
  color: #0d1e61; /* Ensured the icon color matches the design */
}


.badge-resolved {
  background-color: #28a745;
  font-size: 0.75rem;
  font-weight: 600;
  border-radius: 20px;
}

.badge-unresolved {
  background-color: #ffc107;
  font-size: 0.75rem;
  font-weight: 600;
  border-radius: 20px;
}

.table-container {
  border: 1px solid #dee2e6;
  border-radius: 10px;
}

.table-header {
  background-color: #f8f9fa;
  font-weight: 600;
  font-size: 0.9rem;
}

.table th,
.table td {
  font-size: 0.88rem;
  vertical-align: middle;
  padding: 0.75rem;
}

.table tbody tr:not(:last-child) {
  border-bottom: 1px solid #dee2e6;
}


.addviolationbtn {
  align-self: flex-end;
  background-color: #26a69a;
  border: none;
  color: white;
  padding: 6px 18px;
  border-radius: 20px;
  font-weight: 600;
  width: 150px;
  margin-bottom: 15px;
}

